html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

h1 {
    color: white;
}

.innpakning {
    height: 100%;
    width: 100%;
    background-color: darkslategray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    margin-bottom: 20px;
    padding: 5px;
}

.elever {
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.dragcontainer {
    height: 75px;
    width: 150px;
    background-color: floralwhite;
    padding: 5px;
    margin: 5px;
    border-style: solid;
    border-color: black;
    justify-content: center;
    align-content: center;
}

.elev {
   height: 100%;
   width: 100%;
   padding: 5px;
}

.elev h3 {
    color: black;
}

.droparea {
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 100px;
}
.drop {
    height: 75px;
    width: 150px;
    background-color: floralwhite;
    padding: 5px;
    margin: 5px;
    border-style: solid;
    border-color: black;
    justify-content: center;
    align-content: center;

}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.navbar_element {
    flex-grow: 1;
    border-style: solid;
    border-color: white;
    padding: 10px;

}
.navbar_element a {
    font-size: larger;
    color: white;
    height: 100%;
    width: 100%;
    
}

